* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Lato', sans-serif;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  scroll-snap-align: start;
}

.one {
  background-color: #EEF4ED;
}

.two {
  background-color: #8DA9C4;
}

.three {
  background-color: #0B2545;
}

.fourt {
background-color: #13315C;
}

.fifth {
  background-color: #134074;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

